.header {
    background-color: #131921;
    display: flex;
    align-items: center;
    padding: 3px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo {
    width: 100px;
    margin: 0 20px;
    margin-top: 10px;
    object-fit: contain;
}

.header__search {
    display: flex;
    flex: 1;
}

.header__searchIcon {
    background-color: #cd9042;
    padding: 5px;
    height: 22px !important;
}

.header input {
    width: 100%;
    height: 12px;
    padding: 10px;
    border: none;
}

.header__link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.header__optionLineOne{
    font-size: 10px;
}

.header__optionLineTwo{
    font-weight: 900;
    font-size: 13px;
}

.header__optionBasket{
    display: flex;
    align-items: center;
}

.header__cart{
    margin-right: 8px;
}